/* ROOT */

:root {

  /* COLOR */
  --color-system-light-filled: #6750A4;
  --color-system-light-filled-hover: #735EAB;
  --color-system-light-filled-focus: #7965AF;
  --color-system-light-filled-press: #7965AF;
  --color-system-light-filled-disable: #E4E4E4;
  
  --color-system-light-outlined: #FFFBFE;
  --color-system-light-outlined-hover: #F3F1F8;
  --color-system-light-outlined-outline: #79747E;

  /* ELEVATION */
  --surfaces-light-elevation-1: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --surfaces-light-elevation-2: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --surfaces-light-elevation-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  --surfaces-light-elevation-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
  --surfaces-light-elevation-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);

}

/* BODY */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  place-content: center;
}

/* TYPOGRAPHY */

.text{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.text-display{
  font-weight: 400;
}

.text-display-large{
  font-size: 57px;
  line-height: 64px;
}

.text-display-medium{
  font-size: 45px;
  line-height: 52px;
}

.text-display-small{
  font-size: 36px;
  line-height: 44px;
}

.text-headline{
  font-weight: 400px;
}

.text-headline-large{
  font-size: 32px;
  line-height: 40px;
}

.text-headline-medium{
  font-size: 28px;
  line-height: 36px;
}

.text-headline-small{
  font-size: 24px;
  line-height: 32px;
}

.text-title{

}

.text-title-large{
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

.text-title-medium{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;

}

.text-title-small{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.text-label{

}

.text-label-large{
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

.text-label-medium{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.text-label-small{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.text-body{
  font-weight: 400;
}

.text-body-large{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.text-body-medium{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.text-body-small{
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

/* ELEVATIONS */

.elevation-light-1 {
    box-shadow: var(--surfaces-light-elevation-1);
}
.elevation-light-2 {
    box-shadow: var(--surfaces-light-elevation-2);
}
.elevation-light-3 {
    box-shadow: var(--surfaces-light-elevation-3);
}
.elevation-light-4 {
    box-shadow: var(--surfaces-light-elevation-4);
}
.elevation-light-5 {
    box-shadow: var(--surfaces-light-elevation-5);
}

/* BUTTONS */
.btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  gap: 10px;
  cursor: pointer;
  border-radius: 100px;
  transition: background-color 0.3s, box-shadow 0.3s;
  border: none;
}

.btn > .text {
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1px;
}

.btn-icon-true {
  flex-direction: row;
  padding: 10px 24px 10px 16px;
  gap: 8px;
}

.btn-filled {
  background-color: var(--color-system-light-filled);
  color: white;
}

.btn-filled:hover {
  background-color: var(--color-system-light-filled-hover);
  box-shadow: var(--surfaces-light-elevation-1);
}

.btn-filled:focus {
  background-color: var(--color-system-light-filled-focus);
}

.btn-filled:active {
  background-color: var(--color-system-light-filled-press);
}

.btn-filled:disabled {
  background-color: var(--color-system-light-filled-disable);
  color: #989899;
}

.btn-filled:disabled.btn-filled:hover{
    box-shadow: none;
}

.btn-outlined {
  background-color: var(--color-system-light-outlined);
  color: var(--color-system-light-filled);
  border: 1px solid var(--color-system-light-outlined-outline);
}

.btn-outlined:hover {
  background-color: var(--color-system-light-outlined-hover);
}

.btn-outlined:focus{
  background-color:#ECEAF4;
  color: #6750A4;
  border: 1px solid #6750A4;
}

.btn-outlined:active {
  background-color: #ECEAF4;
  color: #6750A4;
  border: 1px solid #79747E ;
}

.btn-outlined:disabled {
  background-color: white;
  color: #A9A8AA;
  border: 1px solid #E4E4E4;
}

/* ICONS */
.material-symbols-outlined {

  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
}


