/* ROOT */

:root {

  /* COLOR */
  --color-system-light-primary: #6750A4;
  --color-system-light-primary-hover: #735EAB;
  --color-system-light-background: #FFFBFE;
  --color-system-light-background-hover: #F3EDF7;

  /* ELEVATION */
  --surfaces-light-elevation-1: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --surfaces-light-elevation-2: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --surfaces-light-elevation-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
  --surfaces-light-elevation-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15), 0px 2px 3px rgba(0, 0, 0, 0.3);
  --surfaces-light-elevation-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15), 0px 4px 4px rgba(0, 0, 0, 0.3);

}

/* BODY */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  place-content: center;
}

/* TYPOGRAPHY */

.text{
  font-family: 'Roboto', sans-serif;
  font-style: normal;

}

.text-display{
  font-weight: 400;
}

.text-display-large{
  font-size: 57px;
  line-height: 64px;
}

.text-display-medium{
  font-size: 45px;
  line-height: 52px;
}

.text-display-small{
  font-size: 36px;
  line-height: 44px;
}

.text-headline{
  font-weight: 400px;
}

.text-headline-large{
  font-size: 32px;
  line-height: 40px;
}

.text-headline-medium{
  font-size: 28px;
  line-height: 36px;
}

.text-headline-small{
  font-size: 24px;
  line-height: 32px;
}

.text-title{

}

.text-title-large{
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

.text-title-medium{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;

}

.text-title-small{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.text-label{

}

.text-label-large{
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

.text-label-medium{
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.text-label-small{
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.text-body{
  font-weight: 400;
}

.text-body-large{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.text-body-medium{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.text-body-small{
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
}

/* ELEVATIONS */

.elevation-light-1 {
    box-shadow: var(--surfaces-light-elevation-1);
}
.elevation-light-2 {
    box-shadow: var(--surfaces-light-elevation-2);
}
.elevation-light-3 {
    box-shadow: var(--surfaces-light-elevation-3);
}
.elevation-light-4 {
    box-shadow: var(--surfaces-light-elevation-4);
}
.elevation-light-5 {
    box-shadow: var(--surfaces-light-elevation-5);
}

/* BUTTONS */
.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  gap: 8px;
  cursor: pointer;
  border-radius: 100px;
  transition: background-color 0.3s, box-shadow 0.3s;
  border: none;
}

.btn > .text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  gap: 8px;
}

.btn-filled {
  background-color: var(--color-system-light-primary);
  color: white;
}

.btn-filled:hover {
  background-color: var(--color-system-light-primary-hover);
  box-shadow: var(--surfaces-light-elevation-1);
}

.btn-filled:enabled {}

.btn-filled:disabled {}

.btn-filled:focus {}

.btn-filled:active {}

.btn-filled:disabled {}


.btn-outlined {
  background-color: var(--color-system-light-background);
  color: var(--color-system-light-primary)
}

.btn-outlined:hover {
  background-color: #F3F1F8;
}

/* ICONS */
.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}


