:root {}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.25s;
}

.btn-filled {
  background-color: #6750A4;
  color: white;
}

.btn-filled:hover {
  background-color: #735EAB;
}

.btn-filled:enabled {}

.btn-filled:disabled {}

.btn-filled:focus {}

.btn-filled:active {}

.btn-filled:disabled {}



.btn-outlined {
  background-color: white;
  color: #6750A4;
}

.btn-outlined:hover {
  background-color: #F3F1F8;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}