/* HTML */
html {
	scroll-behavior: smooth;
}

/* BODY */

.body-light-theme {
	background-image: linear-gradient(
		95deg,
		rgba(252, 229, 255, 0.3) 0%,
		rgba(176, 229, 255, 0.3) 74%
	);
}

.body-dark-theme {
	background-image: linear-gradient(
		95deg,
		rgba(35, 25, 36, 0.9) 0%,
		rgba(6, 29, 45, 0.9) 74%
	);
}

/* SECTIONS */

.section-trmd3 {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--m3-sys-light-primary);
}

#section-0-trmd3 {
	background-image: url("/bg-0.svg");
}

#section-1-trmd3 {
	background-image: url("/bg-1.svg");
}

#section-2-trmd3 {
	background-image: url("/bg-2.svg");
}

#section-3-trmd3 {
	background-image: url("/bg-3.svg");
}

#section-4-trmd3 {
	background-image: url("/bg-4.svg");
}

#section-5-trmd3 {
	background-image: url("/bg-5.svg");
}

#section-6-trmd3 {
	background-image: url("/bg-6.svg");
}

/* TRMD3 */
.logo-trmd3 {
	max-width: 30rem;
	margin: 0 auto;
	padding-top: 15rem;
	padding-bottom: 2rem;
	width: 50vw;
}

.main-title-trmd3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 6rem;
	font-weight: bold;
}

.main-title-light-theme-trmd3 {
	color: var(--m3-sys-light-on-primary);
}

.main-subtitle-light-theme-trmd3 {
	color: var(--m3-sys-light-on-primary);
}

/* SINGLE-RULE-CLASSES	*/
.flex-trmd3 {
	display: flex;
}

.flex-column-trmd3 {
	flex-direction: column;
}

.flex-row-trmd3 {
	flex-direction: row;
}

/* THEME TOGGLING */
.theme-toggler-trmd3 {
	flex-basis: 80%;
}

.top-scroller-trmd3 {
	flex-basis: 20%;
}

/* HERO SECTION*/
.hero-section-trmd3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
	overflow: hidden;
}

.hero-section-light-theme-trmd3 {
	color: #533566;
}

.hero-section-dark-theme-trmd3 {
	color: #ffffff;
}

.hero-features-trmd3 {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	height: 5rem;
}

.hero-link-trmd3 {
	transition: font-size 0.3s ease-in-out;
	text-decoration: none;
}

.hero-link-text-trmd3:hover {
	text-decoration: underline;
	font-size: 2.4rem;
}

.hero-link-text-light-theme-trmd3 {
	color: var(--m3-sys-light-on-primary);
}

.hero-link-text-dark-theme-trmd3 {
	color: var(--m3-sys-dark-primary);
}

.hero-handshake-trmd3 {
	font-size: 5.2rem;
}

.hero-handshake-trmd3:hover {
	font-size: 5.5rem;
}

/* COOKIETRAIL SECTION */
.cookietrail-section-trmd3 {
	margin-bottom: 0.3rem;
	margin-right: 10%;
	margin-left: 10%;
}

.cookietrail-buttons-trmd3 {
	gap: 1rem;
	display: flex;
	flex-direction: row;
}

.cookietrail-button-trmd3 {
	width: 100%;
}

@media (max-width: 768px) {
	.cookietrail-buttons-trmd3 {
		flex-direction: column;
		width: 80%;
		margin: 0 auto;
	}
}

.cookietrail-section-light-theme-trmd3 {
	color: #533566;
}

.cookietrail-section-dark-theme-trmd3 {
	color: #ffffff;
}

/* TOURGUIDE SECTION */
.tourguide-section-trmd3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.tourguide-button {
	display: inline-grid;
	margin: 0.5rem;
}

/* SECTION TITLES */
.section-title-trmd3 {
	border-radius: 0.6rem;
	padding: 0.5rem;
	font-weight: bold;
	margin: 1rem;
}

.section-title-light-theme-trmd3 {
	color: var(--m3-sys-light-primary);
	background-color: var(--m3-sys-light-surface-container-high);
	box-shadow: var(--m3-elevation-light-2);
}

.section-title-dark-theme-trmd3 {
	color: var(--m3-sys-dark-primary);
	background-color: var(--m3-sys-dark-surface-container-high);
	box-shadow: var(--m3-elevation-dark-2);
}

/* SECTION SUBTITLES */
.section-subtitle-trmd3 {
	text-align: center;
	margin-bottom: 2rem;
}

.section-subtitle-light-theme-trmd3 {
	color: var(--m3-sys-light-primary);
}

.section-subtitle-dark-theme-trmd3 {
	color: var(--m3-sys-dark-primary);
}

.subsection-link-trmd3 {
	transition: font-size 0.3s ease-in-out;
	text-decoration: none;
}

.subsection-link-trmd3:hover {
	text-decoration: underline;
	font-size: 1.65rem;
}

/* FRAMES */
.frame-trmd3 {
	width: 90%;
	margin: 0 auto;
	border-radius: 0.3rem;
	align-items: center;
	justify-content: center;
	padding-top: 0.5rem;
	padding-bottom: 3.5rem;
	text-align: center;
	display: flex;
	overflow: clip;
}

.frame-light-theme-trmd3 {
	color: var(--m3-sys-light-on-surface);
	background-color: rgba(254, 247, 255, 0.85);
	box-shadow: var(--m3-elevation-light-1);
}

.frame-dark-theme-trmd3 {
	color: var(--m3-sys-dark-on-surface);
	background-color: rgba(20, 18, 24, 0.85);
	box-shadow: var(--m3-elevation-dark-1);
}

/* HORIZONTAL DIVIDERS FRAME SECTION */
.horizontaldividers-frame-trmd3 {
	gap: 3rem;
}

/* BADGES FRAME SECTION */

.component {
	background-color: #f8af50;
	width: 5rem;
	height: 5rem;
	margin: 0 auto;
}

/* CHECKBOXES FRAME SECTION */

/* SWITCHES FRAME SECTION */
.switches-frame-trmd3 {
	gap: 0.5rem;
}

/* BUTTONS FRAME SECTION */
.buttons-frame-trmd3 {
	gap: 0.5rem;
}

/* TYPOGRAPHIES FRAME SECTION */
.typographies-frame-trmd3 {
	gap: 0rem;
}

.typographies-subframe-trmd3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2.4rem;
	gap: 2.4rem;
	border-radius: 1.6rem;
}

/* ELEVATIONS FRAME SECTION */
.elevations-frame-trmd3 {
	gap: 0.5rem;
}

/* ICONS FRAME SECTION */
.icons-frame-trmd3 {
	gap: 0.1rem;
}

/* CHIPS FRAME SECTION */
.chips-frame-trmd3 {
	gap: 0.5rem;
}

/* CODE SNIPPETS */

.code-snippet-trmd3 {
	cursor: pointer;
	position: relative;
	display: grid;
	justify-content: center;
}

.code-snippet-copy-icon-trmd3 {
	position: absolute;
	right: 0;
	top: 0.9rem;
	border-radius: 0.5rem;
	opacity: 0;
	transition: opacity 0.3s ease-in-out, scale 0.15s ease-in-out;
}

.code-snippet-trmd3:hover .code-snippet-copy-icon-trmd3 {
	opacity: 1;
}

.code-snippet-trmd3:active .code-snippet-copy-icon-trmd3 {
	scale: 1.1;
}

.code-snippet-copy-icon-light-theme-trmd3 {
	color: var(--m3-sys-light-on-surface);
}

.code-snippet-trmd3:active .code-snippet-copy-icon-light-theme-trmd3 {
	color: var(--m3-sys-light-primary);
}

.code-snippet-trmd3:active .code-snippet-copy-icon-dark-theme-trmd3 {
	color: var(--m3-sys-dark-primary);
}

.code-snippet-code-light-theme-trmd3 {
	background-color: var(--m3-sys-light-surface-container-high) !important;
}

.code-snippet-code-dark-theme-trmd3 {
	background-color: var(--m3-sys-dark-surface-container-high) !important;
}

/* HIGHLIGHT.JS */
.hljs {
	box-shadow: var(--m3-elevation-light-2);
	font-weight: bold;
	margin: 0 auto;
	overflow: scroll;
	max-width: 90vw;
	border-radius: 0.3rem;
	overflow-y: hidden;
	font-size: 1.4rem;
	font-family: "Comic Mono", monospace;
	text-align: left;
}

@media screen and (max-width: 600px) {
	.hljs {
		max-width: 70vw;
	}
}

.hljs:hover {
	box-shadow: var(--m3-elevation-light-3);
}

.hljs-multiline-trmd3 {
	white-space: pre-wrap;
}

pre {
	tab-size: 4rem;
}

/* COMPONENT FRAME TITLES */
.component-frame-title-trmd3 {
	position: relative;
	padding: 1rem 2rem 1rem 2rem;
	border-radius: 0.6rem;
	cursor: pointer;
	margin: 1rem;
}

.component-frame-title-trmd3 > .text {
	font-weight: bold;
}

.icon-on-component-frame-title-trmd3 {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0.5rem;
	opacity: 0;
	transition: opacity 0.3s ease-in-out, scale 0.15s ease-in-out;
	z-index: 100;
}

.component-frame-title-trmd3:hover .icon-on-component-frame-title-trmd3 {
	opacity: 1;
}

.component-frame-title-trmd3:active .icon-on-component-frame-title-trmd3 {
	scale: 1.1;
}

.component-frame-title-trmd3.component-frame-title-light-theme-trmd3 {
	color: var(--m3-sys-light-primary);
	background-color: var(--m3-sys-light-surface-container-high);
	box-shadow: var(--m3-elevation-light-2);
}

.component-frame-title-trmd3.component-frame-title-dark-theme-trmd3 {
	color: var(--m3-sys-dark-primary);
	background-color: var(--m3-sys-dark-surface-container-high);
	box-shadow: var(--m3-elevation-dark-2);
}

.box {
	width: 400px;
	height: 400px;
	position: relative;
	padding: 10px 20px;
	background-color: red;
	cursor: pointer;
	overflow: hidden;
}

.inner-circle {
	position: absolute;
	top: 0;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	background-color: rgba(111, 0, 0, 0.8);
	transform: translate(-50%, -50%) scale(1);
	transition: transform 0.3s ease-in-out;
	display: none;
}

.box:hover .inner-circle {
	transform: translate(-50%, -50%) scale(2);
	display: block;
}

/* NAVIGATION RAILS */

/* BOTTOM APP BARS */
.bottom-app-bar-on-frame-trmd3 {
	z-index: 1;
}

.bottom-app-bar {
	justify-content: flex-end;
}

/* NAVIGATION RAILS */
.navigation-rail-on-frame-trmd3 {
	position: relative;
	z-index: 1;
	border: 1px solid gray;
	height: 73rem;
	left: 0;
}

/* TOP APP BARS */
.top-app-bar-on-frame-trmd3 {
	position: relative;
	z-index: 1;
	border: 1px solid gray;
	max-width: 80%;
}

.text-fields-frame-trmd3 {
	gap: 1rem;
}

/* LISTS SECTION*/
.lists-subframe-trmd3 {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1.6rem;
}

.lists-subframe-light-theme-trmd3 {
	background-color: var(--m3-sys-light-surface-container-low);
}

.lists-subframe-dark-theme-trmd3 {
	background-color: var(--m3-sys-dark-surface-container-low);
}

/* SIDE SHEETS */

.side-sheet-on-frame-trmd3 {
	position: relative;
	z-index: 1;
	border: 1px solid gray;
	padding-top: 0;
}

.side-sheet-on-frame-trmd3 {
	visibility: visible;
}

/* SLIDERS */
.sliders-subframe-trmd3 {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border-radius: 1.6rem;
	width: 80%;
	align-items: center;
	justify-content: center;
}

.sliders-subframe-light-theme-trmd3 {
	background-color: var(--m3-sys-light-surface);
}

.sliders-subframe-dark-theme-trmd3 {
	background-color: var(--m3-sys-dark-surface);
}

/* SNACKBARS SECTION */
.snackbars-frame-trmd3 {
	gap: 1rem;
}

/* SNACKBARS */
.snackbar-on-frame-trmd3 {
	position: relative;
	z-index: 1;
	opacity: 1;
	pointer-events: all;
	transform: none;
	top: 0;
	left: 0;
}

/* ICON BUTTONS SECTION */
.icon-buttons-subframe-trmd3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 1.6rem;
	padding: 1rem;
}

.icon-buttons-subframe-light-theme-trmd3 {
	background-color: var(--m3-sys-light-surface-container);
}

.icon-buttons-subframe-dark-theme-trmd3 {
	background-color: var(--m3-sys-dark-surface-container);
}

/* SEGMENTED BUTTONS SECTION */

.segmented-buttons-subframe-trmd3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	border-radius: 1.6rem;
	gap: 1rem;
	width: 80%;
}

.segmented-buttons-subframe-light-theme-trmd3 {
	background-color: var(--m3-sys-light-surface-container-low);
}

.segmented-buttons-subframe-dark-theme-trmd3 {
	background-color: var(--m3-sys-dark-surface-container-low);
}

/* INPUT CHIPS SECTION */
.input-chips-subframe-trmd3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	border-radius: 1.6rem;
	gap: 1rem;
	width: 80%;
}

.input-chips-subframe-light-theme-trmd3 {
	background-color: var(--m3-sys-light-surface);
}

.input-chips-subframe-dark-theme-trmd3 {
	background-color: var(--m3-sys-dark-surface);
}

/* ASSIST CHIPS SECTION */
.assist-chips-subframe-trmd3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	border-radius: 1.6rem;
	gap: 1rem;
	width: 80%;
}

.assist-chips-subframe-light-theme-trmd3 {
	background-color: var(--m3-sys-light-surface);
}

.assist-chips-subframe-dark-theme-trmd3 {
	background-color: var(--m3-sys-dark-surface);
}

/* MENUS SECTION */

.menu-on-frame-trmd3 {
	position: relative;
	left: 0;
	top: 0;
	z-index: 1;
}

/* NAVIGATION DRAWERS SECTION */
.navigation-drawer-on-frame-trmd3 {
	position: relative;
	z-index: 10;
	left: 0;
	top: 0;
	display: flex;
	width: 40%;
	padding-top: 0;
}
