/* HTML */
html {
	scroll-behavior: smooth;
}

.App {
	margin-top: -70px;
}

/* BODY */

.body-light-theme {
	background-image: linear-gradient(
		95deg,
		rgba(252, 229, 255, 0.3) 0%,
		rgba(176, 229, 255, 0.3) 74%
	);
}

.body-dark-theme {
	background-image: linear-gradient(
		95deg,
		rgba(35, 25, 36, 0.9) 0%,
		rgba(6, 29, 45, 0.9) 74%
	);
}
/* SECTIONS */

.section-trmd3 {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#section-0-trmd3 {
	background-image: url("/bg-0.svg");
}

#section-1-trmd3 {
	background-image: url("/bg-1.svg");
}

#section-2-trmd3 {
	background-image: url("/bg-2.svg");
}

#section-3-trmd3 {
	background-image: url("/bg-3.svg");
}

/* TRMD3 */
.logo-trmd3 {
	max-width: 30rem;
	margin: 0 auto;
	padding-top: 8rem;
	padding-bottom: 2rem;
	width: 50vw;
}

.main-title-trmd3 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 6rem;
	padding-top: 30rem;
}

.main-title-light-theme-trmd3 {
	color: var(--m3-sys-light-on-primary);
}

.main-subtitle-light-theme-trmd3 {
	color: var(--m3-sys-light-on-primary);
}

/* SINGLE-RULE-CLASSES	*/
.flex-trmd3 {
	display: flex;
}

.flex-column-trmd3 {
	flex-direction: column;
}

.flex-row-trmd3 {
	flex-direction: row;
}

/* STICKY TOOLBAR SECTION */

.sticky-toolbar-trmd3 {
	display: flex;
	position: sticky;
	top: 0;
	transform: translateY(1rem);
	padding: 0rem 3rem 3rem 3rem;
	gap: 1rem;
	z-index: 999;
}

/* THEME TOGGLING */
.theme-toggler-trmd3 {
	flex-basis: 80%;
}

.top-scroller-trmd3 {
	flex-basis: 20%;
}

/* HERO SECTION*/
.hero-section-trmd3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 5%;
	margin-left: 5%;
	text-align: center;
	overflow: hidden;
}

.hero-section-light-theme-trmd3 {
	color: #533566;
}

.hero-section-dark-theme-trmd3 {
	color: #ffffff;
}

.hero-features-trmd3 {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	height: 5rem;
}

.hero-link-trmd3 {
	transition: font-size 0.3s ease-in-out;
	text-decoration: none;
}

.hero-link-text-trmd3:hover {
	text-decoration: underline;
	font-size: 2.4rem;
}

.hero-link-text-light-theme-trmd3 {
	color: var(--m3-sys-light-on-primary);
}

.hero-link-text-dark-theme-trmd3 {
	color: var(--m3-sys-dark-primary);
}

.hero-handshake-trmd3 {
	font-size: 5.2rem;
}

.hero-handshake-trmd3:hover {
	font-size: 5.5rem;
}

/* COOKIETRAIL SECTION */
.cookietrail-section-trmd3 {
	margin-bottom: 0.3rem;
	margin-right: 5%;
	margin-left: 5%;
}

.cookietrail-buttons-trmd3 {
	gap: 1rem;
}

.cookietrail-section-light-theme-trmd3 {
	color: #533566;
}

.cookietrail-section-dark-theme-trmd3 {
	color: #ffffff;
}

.cookietrail-button-trmd3 {
	flex-basis: 100%;
}

/* TOURGUIDE SECTION */
.tourguide-section-trmd3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	padding: 3rem;
}

.tourguide-button {
	display: inline-grid;
	margin: 0.5rem;
}

/* SECTION TITLES */
.section-title-container-trmd3 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

.section-title-trmd3 {
	text-align: center;
	display: inline-block;
	border-radius: 0.6rem;
	margin-bottom: 0.1rem;
	padding: 0.6rem 1.8rem 0.6rem 1.8rem;
	font-weight: bold;
}

.section-title-light-theme-trmd3 {
	color: var(--m3-sys-light-primary);
	background-color: var(--m3-sys-light-surface);
	box-shadow: var(--m3-elevation-light-2);
}

.section-title-dark-theme-trmd3 {
	color: var(--m3-sys-dark-primary);
	background-color: var(--m3-sys-dark-surface);
	box-shadow: var(--m3-elevation-dark-2);
}

/* SECTION SUBTITLES */
.section-subtitle-trmd3 {
	text-align: center;
	margin-bottom: 2rem;
}

.section-subtitle-light-theme-trmd3 {
	color: var(--m3-sys-light-primary);
}

.section-subtitle-dark-theme-trmd3 {
	color: var(--m3-sys-dark-primary);
}

.subsection-link-trmd3 {
	transition: font-size 0.3s ease-in-out;
	text-decoration: none;
}

.subsection-link-trmd3:hover {
	text-decoration: underline;
	font-size: 1.65rem;
}

/* FRAMES */
.frame-trmd3 {
	width: 70%;
	margin: 0 auto;
	overflow: clip;
	border-radius: 0.3rem;
	align-items: center;
	justify-content: center;
	padding-top: 0.5rem;
	padding-bottom: 3.5rem;
	text-align: center;
	display: flex;
}

.frame-light-theme {
	color: var(--m3-sys-light-on-surface);
	background-color: rgba(243, 236, 244, 0.9);
	box-shadow: var(--m3-elevation-light-1);
}

.frame-dark-theme {
	color: var(--m3-sys-dark-on-primary);
	background-color: var(--m3-sys-dark-surface);
	box-shadow: var(--m3-elevation-dark-1);
}

/* HORIZONTAL DIVIDERS FRAME SECTION */
.horizontaldividers-frame-trmd3 {
	gap: 3rem;
}

/* VERTICAL DIVIDERS FRAME SECTION */

/* RADIO BUTTONS FRAME SECTION */

/* BADGES FRAME SECTION */

.badge-box-trmd3 {
	background-color: #f8af50;
	width: 5rem;
	height: 5rem;
	margin: 0 auto;
}

/* CHECKBOXES FRAME SECTION */

/* SWITCHES FRAME SECTION */
.switches-frame-trmd3 {
	gap: 0.5rem;
}

/* BUTTONS FRAME SECTION */
.buttons-frame-trmd3 {
	gap: 0.5rem;
}

/* TYPOGRAPHIES FRAME SECTION */
.typographies-frame-trmd3 {
	gap: 0rem;
}

.typographies-subframe-trmd3 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 2.4rem;
	gap: 2.4rem;
	border-radius: 1.6rem;
}

/* ELEVATIONS FRAME SECTION */
.elevations-frame-trmd3 {
	gap: 0.5rem;
}

/* ICONS FRAME SECTION */
.icons-frame-trmd3 {
	gap: 0.1rem;
}

/* CHIPS FRAME SECTION */
.chips-frame-trmd3 {
	gap: 0.5rem;
}

/* CODE SNIPPETS */

.code-snippet-trmd3 {
	cursor: pointer;
	position: relative;
}

.code-snippet-copy-icon-trmd3 {
	position: absolute;
	right: -0.2rem;
	top: 0.9rem;
	border-radius: 0.5rem;
	opacity: 0;
	transition: opacity 0.3s ease-in-out, scale 0.15s ease-in-out;
}

.code-snippet-trmd3:hover .code-snippet-copy-icon-trmd3 {
	opacity: 1;
}

.code-snippet-trmd3:active .code-snippet-copy-icon-trmd3 {
	scale: 1.1;
}

.code-snippet-copy-icon-light-theme-trmd3 {
	color: var(--m3-sys-light-on-surface);
}

.code-snippet-trmd3:active .code-snippet-copy-icon-light-theme-trmd3 {
	color: var(--m3-sys-light-primary);
}

.code-snippet-trmd3:active .code-snippet-copy-icon-dark-theme-trmd3 {
	color: var(--m3-sys-dark-primary);
}

/* HIGHLIGHT.JS */
.hljs {
	box-shadow: var(--m3-elevation-light-2);
	font-weight: bold;
	margin: 0 auto;
	overflow: scroll;
	max-width: 90vw;
	border-radius: 0.3rem;
	overflow-y: hidden;
	font-size: 1.4rem;
	font-family: "Comic Mono", monospace;
	background-color: rgba(236, 230, 240, 0.9);
}

@media screen and (max-width: 600px) {
	.hljs {
		max-width: 70vw;
	}
}

.hljs:hover {
	box-shadow: var(--m3-elevation-light-3);
}

.hljs-multiline-trmd3 {
	white-space: pre-wrap;
}

/* BLACK BOTTOM BAR */

.black-bottom-bar-trmd3 {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 8rem;
	background-color: var(--m3-sys-dark-surface);
	box-shadow: var(--m3-elevation-dark-2);
	z-index: 100;
}

.black-bottom-bar-text-trmd3 {
	color: white;
	font-weight: bold;
	height: 100%;
	text-align: center;
	line-height: 8rem;
	cursor: pointer;
}
