/* EVERYTHING */

*:focus {
	outline: none;
}

/* ROOT */

:root {
	/* COLOR */

	--prophet-violet: #6750a4;
	--genestealer-purple: #735eab;
	--ultimate-grey: #a9a8aa;
	--dust-of-the-moon: #d0c6df;
	--pink-champagne: #e7e0ec;
	--lavender-mist: #e8def8;
	--plum-is-the-word: #d8cee8;
	--titanium-white: #e4e4e4;
	--alpine-goat: #f3f1f8;
	--silver-phoenix: #eceaf4;
	--dried-lavender-flowers: #79747e;
	--firebrick: #b3261e;
	--ishtar: #49454f;
	--snowbank: #e9e8e9;
	--moon-landing: #a7a6a8;
	--laughing-jack: #cac4d0;

	/* ELEVATION */

	--surfaces-light-elevation-1: 0px 1px 2px rgba(0, 0, 0, 0.3),
		0px 1px 3px 1px rgba(0, 0, 0, 0.15);
	--surfaces-light-elevation-2: 0px 1px 2px rgba(0, 0, 0, 0.3),
		0px 2px 6px 2px rgba(0, 0, 0, 0.15);
	--surfaces-light-elevation-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
		0px 1px 3px rgba(0, 0, 0, 0.3);
	--surfaces-light-elevation-4: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
		0px 2px 3px rgba(0, 0, 0, 0.3);
	--surfaces-light-elevation-5: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
		0px 4px 4px rgba(0, 0, 0, 0.3);
}

/* BODY */

body {
	margin: 0;
	width: 100vw;
}

/* TYPOGRAPHY */

.text {
	font-family: "Roboto", sans-serif;
}

.text-display {
	font-weight: 400;
}

.text-display-large {
	font-size: 57px;
	line-height: 64px;
}

.text-display-medium {
	font-size: 45px;
	line-height: 52px;
}

.text-display-small {
	font-size: 36px;
	line-height: 44px;
}

.text-headline {
	font-weight: 400px;
}

.text-headline-large {
	font-size: 32px;
	line-height: 40px;
}

.text-headline-medium {
	font-size: 28px;
	line-height: 36px;
}

.text-headline-small {
	font-size: 24px;
	line-height: 32px;
}

.text-title {
}

.text-title-large {
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
}

.text-title-medium {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
}

.text-title-small {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.1px;
}

.text-label {
}

.text-label-large {
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
}

.text-label-medium {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
}

.text-label-small {
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.1px;
}

.text-body {
	font-weight: 400;
}

.text-body-large {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.5px;
}

.text-body-medium {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.25px;
}

.text-body-small {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.4px;
}

/* ELEVATIONS */

.elevation-light-1 {
	box-shadow: var(--surfaces-light-elevation-1);
}

.elevation-light-2 {
	box-shadow: var(--surfaces-light-elevation-2);
}

.elevation-light-3 {
	box-shadow: var(--surfaces-light-elevation-3);
}

.elevation-light-4 {
	box-shadow: var(--surfaces-light-elevation-4);
}

.elevation-light-5 {
	box-shadow: var(--surfaces-light-elevation-5);
}

/* BUTTONS */

.btn {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 24px;
	gap: 10px;
	cursor: pointer;
	border-radius: 100px;
	transition: background-color 0.3s, box-shadow 0.3s;
	border: none;
	height: 40px;
	width: 90px;
}

.btn > .text {
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.1px;
}

.btn-with-icon {
	flex-direction: row;
	padding: 10px 24px 10px 16px;
	gap: 8px;
	width: 117px;
}

.btn-filled {
	background-color: var(--prophet-violet);
	color: white;
}

.btn-filled:hover {
	background-color: var(--genestealer-purple);
	box-shadow: var(--surfaces-light-elevation-1);
}

.btn-filled:focus {
	background-color: var(--genestealer-purple);
}

.btn-filled:active {
	background-color: var(--genestealer-purple);
}

.btn-filled:disabled {
	background-color: var(--titanium-white);
	color: var(--color-system-light-filled-disable-text);
}

.btn-filled:disabled.btn-filled:hover {
	box-shadow: none;
}

.btn-outlined {
	background-color: white;
	color: var(--prophet-violet);
	border: 1px solid var(--dried-lavender-flowers);
}

.btn-outlined:hover {
	background-color: var(--alpine-goat);
}

.btn-outlined:focus {
	background-color: var(--silver-phoenix);
	color: var(--prophet-violet);
	border: 1px solid var(--prophet-violet);
}

.btn-outlined:active {
	background-color: var(--silver-phoenix);
	color: var(--prophet-violet);
	border: 1px solid var(--dried-lavender-flowers);
}

.btn-outlined:disabled {
	background-color: white;
	color: var(--ultimate-grey);
	border: 1px solid var(--titanium-white);
}

.btn-text {
	background-color: transparent;
	color: var(--prophet-violet);
	padding: 10px 12px;
}

.btn-text.btn-with-icon {
	padding: 10px 16px 10px 12px;
}

.btn-text:hover {
}

.btn-text:focus {
	background-color: var(--silver-phoenix);
}

.btn-text:active {
	background-color: var(--silver-phoenix);
}

.btn-text:disabled {
	color: var(--ultimate-grey);
}

.btn-text:disabled.btn-text:active {
	background-color: transparent;
}

.btn-elevated {
	background-color: white;
	color: var(--prophet-violet);
	box-shadow: var(--surfaces-light-elevation-1);
}

.btn-elevated:hover {
	background-color: var(--lavender-mist);
	box-shadow: var(--surfaces-light-elevation-2);
}

.btn-elevated:focus {
	background-color: var(--lavender-mist);
	box-shadow: var(--surfaces-light-elevation-1);
}

.btn-elevated:active {
	background-color: var(--lavender-mist);
	box-shadow: var(--surfaces-light-elevation-1);
}

.btn-elevated:disabled {
	background-color: var(--titanium-white);
	color: var(--ultimate-grey);
	box-shadow: none;
}

.btn-tonal {
	background-color: var(--lavender-mist);
	color: black;
}

.btn-tonal:hover {
	background-color: var(--plum-is-the-word);
	box-shadow: var(--surfaces-light-elevation-1);
}

.btn-tonal:focus {
	background-color: var(--dust-of-the-moon);
	box-shadow: none;
}

.btn-tonal:active {
	background-color: var(--dust-of-the-moon);
	box-shadow: none;
}

.btn-tonal:disabled {
	background-color: var(--titanium-white);
	color: var(--ultimate-grey);
}

.btn-tonal:disabled.btn-tonal:hover {
	box-shadow: none;
}

/* ICONS */

.material-symbols-outlined {
	pointer-events: none;

	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 20;
}

/* SWITCHES */

.switch {
	display: flex;
	min-width: 52px;
	max-width: 52px;
	min-height: 32px;
	max-height: 32px;
}

.switch-track {
	width: 100%;
	height: 100%;
	border-radius: 33%/50%;
	transition: all 250ms ease-in-out;
}

.switch-track-selected {
	background-color: var(--prophet-violet);
}

.switch-track-deselected {
	background-color: var(--pink-champagne);
}

.switch-handle {
	border-radius: 100%;
	transition: all 250ms ease-in-out;
}

.switch-handle-selected {
	background-color: white;
	width: 46.155%;
	height: 75%;
	margin: 7.69% 46.155%;
}

.switch-handle-deselected.switch-handle-without-icon {
	background-color: var(--dried-lavender-flowers);
	width: 30.77%;
	height: 50%;
	margin: 16% 13%;
}

.switch-handle-deselected.switch-handle-with-icon {
	background-color: var(--dried-lavender-flowers);
	width: 46.155%;
	height: 75%;
	margin: 7.69% 5%;
}

.switch-handle-overlay {
	display: flex;
	width: 166%;
	height: 166%;
	background-color: transparent;
	border-radius: 100%;
	transform: translate(-20%, -20%);
}

.switch-handle-overlay:hover {
	background-color: #6750a41f;
}

.switch-disabled {
	pointer-events: none;
}

.switch-track-disabled.switch-track-selected {
	background-color: var(--snowbank);
}

.switch-track-disabled.switch-track-deselected {
	box-sizing: border-box;
	border: 2px solid rgba(28, 27, 31, 0.12);
	border-radius: 35px;
	background-color: white;
}

.switch-handle-deselected.switch-handle-enabled {
	background-color: var(--moon-landing);
}

.switch-icon {
	display: flex;
	margin: 0 auto;
	align-items: center;
	scale: 80%;
}

.switch-icon-selected {
	color: var(--prophet-violet);
}

.switch-icon-deselected {
	color: white;
}

.switch-icon-deselected.switch-icon-disabled {
	display: flex;
}

.switch-icon-disabled {
	display: none;
}

/* CHECKBOXES */

.checkbox {
	width: 18px;
	height: 18px;
	border-radius: 2px;
	margin: 11px;
	transition: all 250ms ease-in-out;
	border: 2px solid transparent;
}

.checkbox-default {
	background-color: var(--prophet-violet);
}

.checkbox-error {
	background-color: var(--firebrick);
}

.checkbox-disabled {
	background-color: var(--ultimate-grey);
	pointer-events: none;
}

.checkbox-deselected {
	background-color: transparent;
	border: 2px solid var(--ishtar);
}

.checkbox-deselected.checkbox-error {
	border: 2px solid var(--firebrick);
}

.checkbox-overlay {
	width: 225%;
	height: 225%;
	background-color: transparent;
	border-radius: 100%;
	transform: translate(-29%, -71%);
}

.checkbox-overlay:hover {
	background-color: #6750a41f;
}

.checkbox-overlay:focus {
	background-color: #7660b32d;
}

.checkbox-overlay:active {
	background-color: #48367b47;
}

.checkbox-icon {
	color: white;
	display: flex;
	margin: 0 auto;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
	right: 13%;
}

.checkbox-icon-deselected {
	color: transparent;
}

/* BADGES */

.badge {
	color: white;
	background-color: var(--firebrick);
	border-radius: 100px;
	display: flex;
	align-items: center;
}

.badge-small {
	width: 6px;
	height: 6px;
}

.badge-single-digit {
	width: 16px;
	height: 16px;
}

.badge-multiple-digits {
	display: inline-block;
}

/* RADIO BUTTONS */
input[type="radio"] {
	cursor: pointer;
	appearance: none;
	background-color: transparent;
	margin: 0;
	width: 20px;
	height: 20px;
	margin: 10px;
	border: 2px solid #49454f;
	border-radius: 50%;
	display: flex;
	align-items: center;
	transition: all 300ms;
}

.radio-button:hover {
	border-radius: 50%;
	background-color: #6750a41f;
}

.radio-button:focus {
	background-color: #7660b32d;
}

.radio-button:active {
	background-color: #48367b47;
}

input[type="radio"]::before {
	content: "";
	width: 10px;
	height: 10px;
	background-color: var(--prophet-violet);
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	margin: 0 auto;
}

input[type="radio"]:checked {
	border: 0.15em solid var(--prophet-violet);
}

input[type="radio"]:checked::before {
	transform: scale(1);
}

.radio-button-overlay {
	width: 40px;
	height: 40px;
	border-radius: 100px;
	position: absolute;
	translate: 10px -50px;
}

.radio-button-disabled {
	pointer-events: none;
}

input[type="radio"].radio-button-input-disabled {
	border: 2px solid var(--ultimate-grey);
}

input[type="radio"].radio-button-input-disabled::before {
	background-color: var(--ultimate-grey);
}

/* HORIZONTAL DIVIDERS */

.horizontal-divider {
	display: flex;
}

.horizontal-divider-bar {
	background-color: var(--laughing-jack);
}

.horizontal-divider-inset-right {
	background-color: red;
}

.horizontal-divider-inset-left {
	background-color: red;
}

/* VERTICAL DIVIDERS */

.vertical-divider {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.vertical-divider-bar {
	background-color: var(--laughing-jack);
}

.vertical-divider-inset-top {
	background-color: red;
}

.vertical-divider-inset-bottom {
	background-color: red;
}
